.passwordListContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.passwordItem {
  background-color: #323544;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  width: 190px;
}

.passwordItem div {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.passwordItem div a {
  color: hsl(212, 91%, 58%);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.passwordItem div:nth-last-child( 1 ) {
  justify-content: flex-end;
}

.passwordItem div:nth-last-child( 1 ) button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.withoutPasswordItem {
  margin: 5px 10px;
  text-align: center;
  width: 100%;
}
