.formContainer {
  background: hsl(229, 15%, 14%);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;

}

.formCadSenha {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.formControl {
  display: flex;
  width: fit-content;
}

.fieldButtons {
  justify-content: space-between;
  width: 100%;
}

form p {
  color: white;
}
