.valid-password-check {
  color: hsl(126, 100%, 84%);
}

.invalid-password-check {
  color: hsl(0, 84%, 75%);
}

h1 {
  color: white;
  margin-top: 20px;
  text-align: center;
}

main {
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 65%;
}
